<style>
	.navbar {
		padding-bottom: 10px;
		background-color: #6d20d8;
	}
	.nav-link {
		color: white;
	}
	.nav-item:hover {
		color: #5bef21;
	}
</style>
<div class="navbar">
	<div class="container-fluid">
		<ul class="nav">
			<li class="nav-item">
		 		<a class="nav-link" href="/">Home</a>
			</li>
		    <li class="nav-item">
		    	<a class="nav-link" href="/alphebetize">Alphebetize!</a>
			</li>
			<li class="nav-item">
		    	<a class="nav-link" href="/rating">Sort by Rating</a>
			</li>
			<li class="nav-item">
		    	<a class="nav-link" href="/compat">Get by Compabitibility</a>
		    </li>
		    <li class="nav-item">
		    	<a class="nav-link" href="/features">Get by Feature</a>
		    </li>
			<li class="nav-item">
		    	<a class="nav-link" href="/lucky">I'm Feeling Lucky!</a>
			</li>
		</ul>
	</div>
</div>